Import Library

In [1]:
# Import Pandas
import pandas as pd
pd.set_option('float_format', '{:f}'.format)
import numpy as np
# Import plot
from matplotlib import pyplot as plt
%matplotlib inline
plt.style.use('seaborn')

import seaborn as sns

import Class_RFM_Queries as crfmq
rfm_q = crfmq.RFM_Queries()

Establish connection

In [2]:
%reload_ext google.cloud.bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="C:\\Users\\Cermati\\AppData\\Roaming\\gcloud\\application_default_credentials.json"
print(os.environ["GOOGLE_APPLICATION_CREDENTIALS"])

C:\Users\Cermati\AppData\Roaming\gcloud\application_default_credentials.json

In [3]:
_data = rfm_q.get_raw_data_user_segmentation_CLI()

C:\Users\Cermati\Anaconda3\lib\site-packages\google\auth\_default.py:69: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [4]:
_data.head()

,applicantIdNumber,first_score,last_score,firstAppChannel,firstPartner,firstproductType,age_grouping,applicantlasteducationlevel_grouping,type_of_jobs_grouping,income_grouping,...,first_payment_date,day_since_first_approved,day_since_last_approved,recency,frequency,monetization,last_appsflyerId,category,has_appsflyerID,Seeding_category
0,7371103110910004,415,454,GOOGLEADWORDS,INDODANA,CASH_LOAN,3. 30 - 34 Tahun,S1/S2/S3,PEGAWAI SWASTA,5. 15 - 20 Juta,...,None,540,-99,1,1,1,1546400197497-3484661296077572374,CLI Not Used,YES,Non-Seeding
1,3578261811870001,364,355,ORGANIC,INDODANA,CREDIT_LIMIT,3. 30 - 34 Tahun,SMA / SMK,PEGAWAI SWASTA,2. 3 - 6 Juta,...,None,144,-99,1,1,1,1604120817013-5082690062629353867,CLI Not Used,YES,Non-Seeding
2,3174075008830008,448,448,ORGANIC,TIKET,CREDIT_LIMIT,4. 35 - 39 Tahun,SMA / SMK,PEGAWAI SWASTA,2. 3 - 6 Juta,...,None,2,-99,1,1,1,None,CLI Not Used,NO,Non-Seeding
3,3671050306950004,405,405,ORGANIC,LINKAJA,CREDIT_LIMIT,2. 25 - 29 Tahun,S1/S2/S3,PEGAWAI SWASTA,2. 3 - 6 Juta,...,None,180,-99,1,1,1,None,CLI Not Used,NO,Non-Seeding
4,1971072203980001,393,393,ORGANIC,TIKET,CREDIT_LIMIT,1. < 25 Tahun,S1/S2/S3,PEGAWAI SWASTA,3. 6 - 10 Juta,...,None,121,-99,1,1,1,None,CLI Not Used,NO,Non-Seeding

In [5]:
_data.describe()

,users,partner_count,max_limit,min_limit,merchant_count,top_merchant_trx,top_merchant_category_trx,top_item_category_trx,contracts,coupon_used,...,contracts_not_due_finished,contracts_due_active,contracts_due_finished,max_dpd,avg_tenure,day_since_first_approved,day_since_last_approved,recency,frequency,monetization
count,112960.000000,112960.000000,112960.000000,112960.000000,72223.000000,72223.000000,72223.000000,72223.000000,112960.000000,112960.000000,...,112960.000000,112960.000000,112960.000000,72219.000000,72223.000000,112960.000000,112960.000000,112960.000000,112960.000000,112960.000000
mean,1.009897,1.063660,2199920.741856,2126069.484773,1.105465,9.147751,9.290918,5.716614,6.077983,0.005905,...,0.195228,0.145246,4.447061,9.353134,1.808850,123.206976,7.832144,1.523867,1.428346,1.148663
std,0.099794,0.267670,1276465.734418,1271001.676302,0.392313,21.387341,21.564584,19.209994,17.968001,0.141980,...,1.661279,1.069599,15.207693,70.874062,1.619915,119.751918,119.294162,0.769979,0.711429,0.434856
min,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,-35.000000,1.000000,0.000000,-99.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,1000000.000000,1000000.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,-8.000000,1.000000,43.000000,-99.000000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,2000000.000000,2000000.000000,1.000000,3.000000,3.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,-1.000000,1.000000,99.000000,7.000000,1.000000,1.000000,1.000000
75%,1.000000,1.000000,4000000.000000,4000000.000000,1.000000,8.000000,8.000000,4.000000,5.000000,0.000000,...,0.000000,0.000000,3.000000,1.000000,2.000000,157.000000,42.000000,2.000000,2.000000,1.000000
max,3.000000,5.000000,5094000.000000,5094000.000000,13.000000,606.000000,606.000000,606.000000,606.000000,12.000000,...,128.000000,53.000000,575.000000,580.000000,12.000000,616.000000,616.000000,3.000000,3.000000,3.000000

Insert query here - Get Raw Data From Query

In [ ]:
# %%bigquery raw_data --project athena-179008

Get Raw Data From Excel

In [ ]:
# raw_data = pd.read_excel(r'C:\Users\Cermati\Documents\Jupyter Notebook\Test1\Marketing_Users_Summary_CLI_Used_2021_03_17 (1).xlsx')

Select Column RFM ,Rename it, Calculate Ticket Size

In [ ]:
# data = raw_data[["applicantIdNumber","revenue","contracts","day_since_last_approved"]]
data = raw_data.copy()
# data = data.iloc[:,[0,25,31,43,29]]
data = data[['applicantIdNumber','revenue','contracts','day_since_last_approved','realised_loan_amount']]
data.rename(columns={'day_since_last_approved': 'recency', 
                         'contracts': 'frequency', 
                         'revenue': 'monetary_value'
                    }, inplace=True)
data['TicketSize']=data.realised_loan_amount/data.frequency
data.head()

Stats of Data

In [ ]:
data.describe()

Stats of Data (Revenue=0)

In [ ]:
data_revenue_0 = data.copy()
data_revenue_0 = data_revenue_0[(data_revenue_0['monetary_value']==0)]
data_revenue_0.describe()

In [ ]:
# data_revenue_0[(data_revenue_0['frequency']==111)]
# data_revenue_minus[(data_revenue_minus['frequency']==413)]

Histogram Monetization

In [ ]:
fig, ax = plt.subplots()
sns.histplot(data['monetary_value'], ax=ax)
# ax.set_ylim(0,6000)
ax.set_xticks(pd.Series(range(-14,25))*500000)
# ax.set_xticks(pd.Series(range(-7,13))*1000000)
ax.set_xticklabels(['{:,.2f}'.format(x) + 'M' for x in ax.get_xticks()/1000000])
fig.set_size_inches(30,26)
plt.show()

Export to excel/csv

In [ ]:
# data_revenue_0.to_excel('Data Revenue 0.xlsx',index=False)